.labelscontract{
    font-family: roboto;
    font-size: 10px;
    font-weight:bold;
}

.valuescontract{
    font-family: roboto;
    font-size: 10px;
}

.normalheading{
    font-family: roboto;
    font-size: 11px;
    font-weight: bold;
}

.mainheading{
    font-family: roboto;
    font-size: 13px;
    font-weight: bold;
}

.companycontract{
    font-family: roboto;
    font-size: 11px;
}

.agreementno{
    font-family: roboto;
    font-size: 17px;
    font-weight: bold;
    color: red;
}

.text-space{
    padding:1px 2px 1px 2px;
}
